<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{displayTitle}}</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div class="card green">
		<h1>{{displayTitle}}</h1>
		<img src="https://onaliternote.files.wordpress.com/2016/11/wp-1480230666843.jpg" alt="example">
		<h2>Sub title 1</h2>
		<p>
			{{displayText}}
		</p>
		<h2>Sub title 2</h2>
		<p>{{displayProblem}}</p>
		<form class="ox" method="POST" action="/check">
			<input type="submit" class="o" value="O">
			<input type="submit" class="x" value="X">
		</form>
	</div>
</body>
</html>